absl-py==1.3.0
affine==2.3.0
aiohttp==3.8.3
aiosignal==1.2.0
appdirs==1.4.4
array-record==0.2.0
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
attrs==19.1.0
backcall==0.2.0
blinker==1.4
Bottleneck==1.3.5
brotlipy==0.7.0
cachetools==4.2.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==2.0.4
Click==7.0
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.2.1
colorama==0.4.6
comm==0.1.2
contourpy==1.0.5
cryptography==39.0.1
cycler==0.11.0
cytoolz==0.12.0
dask==2023.4.1
debugpy==1.5.1
decorator==5.1.1
dm-tree==0.1.8
etils==1.3.0
executing==0.8.3
Fiona==1.8.22
flatbuffers==2.0
fonttools==4.25.0
frozenlist==1.3.3
fsspec==2023.4.0
gast==0.4.0
GDAL==3.0.2
geojson==3.0.1
google-auth==2.6.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
googleapis-common-protos==1.59.0
grpcio==1.48.2
h5py==3.7.0
idna==3.4
imagecodecs==2021.8.26
imageio==2.26.0
importlib-metadata==6.0.0
importlib-resources==5.12.0
imutils==0.5.4
ipykernel==6.19.2
ipython==8.12.0
jedi==0.18.1
joblib==1.1.1
jupyter_client==8.1.0
jupyter_core==5.3.0
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
lazy_loader==0.1
locket==1.0.0
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mkl-fft==1.3.6
mkl-random==1.2.2
mkl-service==2.4.0
multidict==6.0.2
munch==2.5.0
munkres==1.1.4
nest-asyncio==1.5.6
networkx==2.8.4
numexpr==2.8.4
numpy==1.24.3
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==23.0
pandas==1.5.3
parso==0.8.3
partd==1.2.0
patsy==0.5.3
pickleshare==0.7.5
Pillow==9.4.0
pip==23.0.1
platformdirs==2.5.2
ply==3.11
pooch==1.4.0
promise==2.3
prompt-toolkit==3.0.36
protobuf==3.20.3
psutil==5.9.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments==2.15.1
PyJWT==2.4.0
pyOpenSSL==23.0.0
pyparsing==2.4.0
PyQt5==5.15.7
PyQt5-sip==12.11.0
PySocks==1.7.1
python-dateutil==2.8.2
python-version==0.0.2
pytz==2022.7
PyWavelets==1.4.1
pywin32==305.1
PyYAML==6.0
pyzmq==25.0.2
rasterio==1.2.10
rasterstats==0.14.0
requests==2.29.0
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.9.0
setuptools==66.0.0
shapely==2.0.1
simplejson==3.17.6
sip==6.6.2
six==1.16.0
snuggs==1.4.3
stack-data==0.2.0
statsmodels==0.13.5
tensorboard==2.10.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-datasets==4.9.2
tensorflow-estimator==2.10.0
tensorflow-io==0.31.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.13.1
termcolor==2.1.0
threadpoolctl==2.2.0
tifffile==2021.7.2
toml==0.10.2
toolz==0.12.0
tornado==6.2
tqdm==4.65.0
traitlets==5.7.1
typing_extensions==4.5.0
urllib3==1.26.15
wcwidth==0.2.5
Werkzeug==2.2.3
wheel==0.38.4
win-inet-pton==1.1.0
wrapt==1.14.1
yarl==1.8.1
zipp==3.11.0
